<a href="{{url}}" target="_blank" rel="noopener"><div class="widget pwa" data-category="{{#each category}}{{this}}{{#unless @last}},{{/unless}}{{/each}}" style="color: {{#fontColor}}{{background_color}}{{/fontColor}}; background: {{background_color}}; border-color: {{ theme_color }};">
	<h2>{{name}}</h2> {{#icons}}
	<img src="{{src}}" width="{{sizes}}" height="{{sizes}}" /> {{/icons}}
	<span class="description">{{description}}</span>
</div></a>